# Build a Question/Answering system over SQL data

In [1]:
%%capture --no-stderr
%pip install --upgrade --quiet langchain langchain-community langchain-google-genai faiss-cpu langchain-groq langgraph

In [2]:
!apt-get install sqlite3

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
Suggested packages:
  sqlite3-doc
The following NEW packages will be installed:
  sqlite3
0 upgraded, 1 newly installed, 0 to remove and 45 not upgraded.
Need to get 768 kB of archives.
After this operation, 1,873 kB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 sqlite3 amd64 3.37.2-2ubuntu0.3 [768 kB]
Fetched 768 kB in 1s (1,391 kB/s)
Selecting previously unselected package sqlite3.
(Reading database ... 123594 files and directories currently installed.)
Preparing to unpack .../sqlite3_3.37.2-2ubuntu0.3_amd64.deb ...
Unpacking sqlite3 (3.37.2-2ubuntu0.3) ...
Setting up sqlite3 (3.37.2-2ubuntu0.3) ...
Processing triggers for man-db (2.10.2-1) ...

In [3]:
from google.colab import userdata

from operator import itemgetter
import ast
import re

import sqlite3

from langchain_community.utilities import SQLDatabase
from langchain.chains import create_sql_query_chain
from langchain_community.tools.sql_database.tool import QuerySQLDataBaseTool
from langchain_core.output_parsers import StrOutputParser
from langchain_core.prompts import PromptTemplate
from langchain_core.runnables import RunnablePassthrough
from langchain_community.agent_toolkits import SQLDatabaseToolkit
from langchain_core.messages import SystemMessage
from langchain_core.messages import HumanMessage
from langgraph.prebuilt import create_react_agent
from langchain.agents.agent_toolkits import create_retriever_tool
from langchain_community.vectorstores import FAISS
from langchain_google_genai import GoogleGenerativeAIEmbeddings
from langchain_groq.chat_models import ChatGroq

In [4]:
!wget https://raw.githubusercontent.com/lerocha/chinook-database/master/ChinookDatabase/DataSources/Chinook_Sqlite.sql

--2024-08-18 12:06:36--  https://raw.githubusercontent.com/lerocha/chinook-database/master/ChinookDatabase/DataSources/Chinook_Sqlite.sql
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 611447 (597K) [text/plain]
Saving to: ‘Chinook_Sqlite.sql’

Chinook_Sqlite.sql  100%[===================>] 597.12K  --.-KB/s    in 0.04s

2024-08-18 12:06:36 (16.0 MB/s) - ‘Chinook_Sqlite.sql’ saved [611447/611447]

In [5]:
sql_file_name = "/content/Chinook_Sqlite.sql"
db_name = "/content/Chinook.db"
conn = sqlite3.connect(db_name)
cursor = conn.cursor()

with open(sql_file_name, 'r') as f:
    sql_script = f.read()

# Execute the script
cursor.executescript(sql_script)

# Commit changes
conn.commit()

# Close the connection
conn.close()

In [6]:
!sqlite3 Chinook.db "SELECT * FROM Artist LIMIT 10;"

1|AC/DC
2|Accept
3|Aerosmith
4|Alanis Morissette
5|Alice In Chains
6|Antônio Carlos Jobim
7|Apocalyptica
8|Audioslave
9|BackBeat
10|Billy Cobham

In [7]:
LANGCHAIN_API_KEY = userdata.get('LANGCHAIN_API_KEY')
LANGCHAIN_TRACING_V2 = userdata.get('LANGCHAIN_TRACING_V2')
GOOGLE_API_KEY = userdata.get('GOOGLE_API_KEY')
GROQ_API_KEY = userdata.get('GROQ_API_KEY')
COHERE_API_KEY = userdata.get('COHERE_API_KEY')

In [8]:
db = SQLDatabase.from_uri("sqlite:///Chinook.db")
print(db.dialect)
print(db.get_usable_table_names())
db.run("SELECT * FROM Artist LIMIT 10;")

sqlite
['Album', 'Artist', 'Customer', 'Employee', 'Genre', 'Invoice', 'InvoiceLine', 'MediaType', 'Playlist', 'PlaylistTrack', 'Track']

"[(1, 'AC/DC'), (2, 'Accept'), (3, 'Aerosmith'), (4, 'Alanis Morissette'), (5, 'Alice In Chains'), (6, 'Antônio Carlos Jobim'), (7, 'Apocalyptica'), (8, 'Audioslave'), (9, 'BackBeat'), (10, 'Billy Cobham')]"

# Convert question to SQL query

In [9]:
llm = ChatGroq(model="llama3-8b-8192", api_key=GROQ_API_KEY, stop_sequences=[])

In [10]:
chain = create_sql_query_chain(llm, db)
response = chain.invoke({"question": "How many employees are there"})
print(response)

Question: How many employees are there
SQLQuery: SELECT COUNT(*) FROM "Employee"

In [11]:
# Extract the SQL query from the response
sql_query = response.split("SQLQuery: ")[1]

# Execute the extracted SQL query
db.run(sql_query)

'[(8,)]'

In [12]:
chain.get_prompts()[0].pretty_print()

You are a SQLite expert. Given an input question, first create a syntactically correct SQLite query to run, then look at the results of the query and return the answer to the input question.
Unless the user specifies in the question a specific number of examples to obtain, query for at most 5 results using the LIMIT clause as per SQLite. You can order the results to return the most informative data in the database.
Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in double quotes (") to denote them as delimited identifiers.
Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
Pay attention to use date('now') function to get the current date, if the question involves "today".

Use the following format:

Question: Question here
SQLQuery: SQL Query to run
SQLResult: Result of the SQLQuery
Answer: Final answer here

Only use the following tables:
{table_info}

Question: {input}

# Execute SQL query

In [13]:
def remove_sql_query_prefix(text: str) -> str:
  """Removes the "SQLQuery: " prefix from the given text."""
  return text.split("SQLQuery: ")[1]

In [14]:
execute_query = QuerySQLDataBaseTool(db=db)
write_query = create_sql_query_chain(llm, db) | remove_sql_query_prefix
chain = write_query | execute_query
chain.invoke({"question": "How many employees are there"})

'[(8,)]'

# Answer the question

In [16]:
answer_prompt = PromptTemplate.from_template(
    """Given the following user question, corresponding SQL query, and SQL result, answer the user question.

Question: {question}
SQL Query: {query}
SQL Result: {result}
Answer: """
)

chain = (
    RunnablePassthrough.assign(query=write_query).assign(
        result=itemgetter("query") | execute_query
    )
    | answer_prompt
    | llm
    | StrOutputParser()
)

chain.invoke({"question": "How many employees are there"})

'According to the SQL result, [(8,)], there are **8** employees.'

# Agents

In [17]:
toolkit = SQLDatabaseToolkit(db=db, llm=llm)

tools = toolkit.get_tools()

print(tools)

[QuerySQLDataBaseTool(description="Input to this tool is a detailed and correct SQL query, output is a result from the database. If the query is not correct, an error message will be returned. If an error is returned, rewrite the query, check the query, and try again. If you encounter an issue with Unknown column 'xxxx' in 'field list', use sql_db_schema to query the correct table fields.", db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x7f00b1bf5390>), InfoSQLDatabaseTool(description='Input to this tool is a comma-separated list of tables, output is the schema and sample rows for those tables. Be sure that the tables actually exist by calling sql_db_list_tables first! Example Input: table1, table2, table3', db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x7f00b1bf5390>), ListSQLDatabaseTool(db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x7f00b1bf5390>), QuerySQLCheckerTool(description='Use this tool to double check if your query is correct before executing it. Always use this tool before executing a query with sql_db_query!', db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x7f00b1bf5390>, llm=ChatGroq(client=<groq.resources.chat.completions.Completions object at 0x7f00b1223c10>, async_client=<groq.resources.chat.completions.AsyncCompletions object at 0x7f00b11ef700>, model_name='llama3-8b-8192', stop=[], groq_api_key=SecretStr('**********')), llm_chain=LLMChain(prompt=PromptTemplate(input_variables=['dialect', 'query'], template='\n{query}\nDouble check the {dialect} query above for common mistakes, including:\n- Using NOT IN with NULL values\n- Using UNION when UNION ALL should have been used\n- Using BETWEEN for exclusive ranges\n- Data type mismatch in predicates\n- Properly quoting identifiers\n- Using the correct number of arguments for functions\n- Casting to the correct data type\n- Using the proper columns for joins\n\nIf there are any of the above mistakes, rewrite the query. If there are no mistakes, just reproduce the original query.\n\nOutput the final SQL query only.\n\nSQL Query: '), llm=ChatGroq(client=<groq.resources.chat.completions.Completions object at 0x7f00b1223c10>, async_client=<groq.resources.chat.completions.AsyncCompletions object at 0x7f00b11ef700>, model_name='llama3-8b-8192', stop=[], groq_api_key=SecretStr('**********'))))]

In [18]:
SQL_PREFIX = """You are an agent designed to interact with a SQL database.
Given an input question, create a syntactically correct SQLite query to run, then look at the results of the query and return the answer.
Unless the user specifies a specific number of examples they wish to obtain, always limit your query to at most 5 results.
You can order the results by a relevant column to return the most interesting examples in the database.
Never query for all the columns from a specific table, only ask for the relevant columns given the question.
You have access to tools for interacting with the database.
Only use the below tools. Only use the information returned by the below tools to construct your final answer.
You MUST double check your query before executing it. If you get an error while executing a query, rewrite the query and try again.

DO NOT make any DML statements (INSERT, UPDATE, DELETE, DROP etc.) to the database.

To start you should ALWAYS look at the tables in the database to see what you can query.
Do NOT skip this step.
Then you should query the schema of the most relevant tables."""

system_message = SystemMessage(content=SQL_PREFIX)

In [19]:
agent_executor = create_react_agent(llm, tools, messages_modifier=system_message)

<ipython-input-19-f0adcce6690e>:1: LangGraphDeprecationWarning: Parameter 'messages_modifier' in function 'create_react_agent' is deprecated as of version 0.1.9 and will be removed in version 0.3.0. Use 'state_modifier' parameter instead.
  agent_executor = create_react_agent(llm, tools, messages_modifier=system_message)

In [20]:
for s in agent_executor.stream(
    {"messages": [HumanMessage(content="Which country's customers spent the most?")]}
):
    print(s)
    print("----")

{'agent': {'messages': [AIMessage(content='', additional_kwargs={'tool_calls': [{'id': 'call_cdw2', 'function': {'arguments': '{}', 'name': 'sql_db_list_tables'}, 'type': 'function'}, {'id': 'call_57p4', 'function': {'arguments': '{"table_names":"customer_table"}', 'name': 'sql_db_schema'}, 'type': 'function'}, {'id': 'call_qzg5', 'function': {'arguments': '{"query":"SELECT country, SUM(amount) AS total_spent FROM customer_table GROUP BY country ORDER BY total_spent DESC LIMIT 1"}', 'name': 'sql_db_query'}, 'type': 'function'}]}, response_metadata={'token_usage': {'completion_tokens': 181, 'prompt_tokens': 1633, 'total_tokens': 1814, 'completion_time': 0.150833333, 'prompt_time': 0.246343265, 'queue_time': None, 'total_time': 0.39717659800000005}, 'model_name': 'llama3-8b-8192', 'system_fingerprint': 'fp_179b0f92c9', 'finish_reason': 'tool_calls', 'logprobs': None}, id='run-085856df-bfa1-42f4-8e78-712c2f6d0574-0', tool_calls=[{'name': 'sql_db_list_tables', 'args': {}, 'id': 'call_cdw2', 'type': 'tool_call'}, {'name': 'sql_db_schema', 'args': {'table_names': 'customer_table'}, 'id': 'call_57p4', 'type': 'tool_call'}, {'name': 'sql_db_query', 'args': {'query': 'SELECT country, SUM(amount) AS total_spent FROM customer_table GROUP BY country ORDER BY total_spent DESC LIMIT 1'}, 'id': 'call_qzg5', 'type': 'tool_call'}], usage_metadata={'input_tokens': 1633, 'output_tokens': 181, 'total_tokens': 1814})]}}
----
{'tools': {'messages': [ToolMessage(content='Album, Artist, Customer, Employee, Genre, Invoice, InvoiceLine, MediaType, Playlist, PlaylistTrack, Track', name='sql_db_list_tables', tool_call_id='call_cdw2'), ToolMessage(content="Error: table_names {'customer_table'} not found in database", name='sql_db_schema', tool_call_id='call_57p4'), ToolMessage(content='Error: (sqlite3.OperationalError) no such table: customer_table\n[SQL: SELECT country, SUM(amount) AS total_spent FROM customer_table GROUP BY country ORDER BY total_spent DESC LIMIT 1]\n(Background on this error at: https://sqlalche.me/e/20/e3q8)', name='sql_db_query', tool_call_id='call_qzg5')]}}
----
{'agent': {'messages': [AIMessage(content='', additional_kwargs={'tool_calls': [{'id': 'call_59fs', 'function': {'arguments': '{}', 'name': 'sql_db_list_tables'}, 'type': 'function'}, {'id': 'call_n9gw', 'function': {'arguments': '{"table_names":"Invoice"}', 'name': 'sql_db_schema'}, 'type': 'function'}]}, response_metadata={'token_usage': {'completion_tokens': 63, 'prompt_tokens': 1932, 'total_tokens': 1995, 'completion_time': 0.0525, 'prompt_time': 0.288153799, 'queue_time': None, 'total_time': 0.340653799}, 'model_name': 'llama3-8b-8192', 'system_fingerprint': 'fp_6a6771ae9c', 'finish_reason': 'tool_calls', 'logprobs': None}, id='run-243f5b07-2766-473d-b652-e6e33c54420a-0', tool_calls=[{'name': 'sql_db_list_tables', 'args': {}, 'id': 'call_59fs', 'type': 'tool_call'}, {'name': 'sql_db_schema', 'args': {'table_names': 'Invoice'}, 'id': 'call_n9gw', 'type': 'tool_call'}], usage_metadata={'input_tokens': 1932, 'output_tokens': 63, 'total_tokens': 1995})]}}
----
{'tools': {'messages': [ToolMessage(content='Album, Artist, Customer, Employee, Genre, Invoice, InvoiceLine, MediaType, Playlist, PlaylistTrack, Track', name='sql_db_list_tables', tool_call_id='call_59fs'), ToolMessage(content='\nCREATE TABLE "Invoice" (\n\t"InvoiceId" INTEGER NOT NULL, \n\t"CustomerId" INTEGER NOT NULL, \n\t"InvoiceDate" DATETIME NOT NULL, \n\t"BillingAddress" NVARCHAR(70), \n\t"BillingCity" NVARCHAR(40), \n\t"BillingState" NVARCHAR(40), \n\t"BillingCountry" NVARCHAR(40), \n\t"BillingPostalCode" NVARCHAR(10), \n\t"Total" NUMERIC(10, 2) NOT NULL, \n\tPRIMARY KEY ("InvoiceId"), \n\tFOREIGN KEY("CustomerId") REFERENCES "Customer" ("CustomerId")\n)\n\n/*\n3 rows from Invoice table:\nInvoiceId\tCustomerId\tInvoiceDate\tBillingAddress\tBillingCity\tBillingState\tBillingCountry\tBillingPostalCode\tTotal\n1\t2\t2021-01-01 00:00:00\tTheodor-Heuss-Straße 34\tStuttgart\tNone\tGermany\t70174\t1.98\n2\t4\t2021-01-02 00:00:00\tUllevålsveien 14\tOslo\tNone\tNorway\t0171\t3.96\n3\t8\t2021-01-03 00:00:00\tGrétrystraat 63\tBrussels\tNone\tBelgium\t1000\t5.94\n*/', name='sql_db_schema', tool_call_id='call_n9gw')]}}
----
{'agent': {'messages': [AIMessage(content='', additional_kwargs={'tool_calls': [{'id': 'call_2eqx', 'function': {'arguments': '{"query":"SELECT BillingCountry, SUM(Total) AS total_spent FROM Invoice GROUP BY BillingCountry ORDER BY total_spent DESC LIMIT 1"}', 'name': 'sql_db_query'}, 'type': 'function'}]}, response_metadata={'token_usage': {'completion_tokens': 64, 'prompt_tokens': 2357, 'total_tokens': 2421, 'completion_time': 0.050671801, 'prompt_time': 0.351258575, 'queue_time': None, 'total_time': 0.40193037600000003}, 'model_name': 'llama3-8b-8192', 'system_fingerprint': 'fp_af05557ca2', 'finish_reason': 'tool_calls', 'logprobs': None}, id='run-e4f47c57-3450-430c-8911-f77123022a47-0', tool_calls=[{'name': 'sql_db_query', 'args': {'query': 'SELECT BillingCountry, SUM(Total) AS total_spent FROM Invoice GROUP BY BillingCountry ORDER BY total_spent DESC LIMIT 1'}, 'id': 'call_2eqx', 'type': 'tool_call'}], usage_metadata={'input_tokens': 2357, 'output_tokens': 64, 'total_tokens': 2421})]}}
----
{'tools': {'messages': [ToolMessage(content="[('USA', 523.0600000000003)]", name='sql_db_query', tool_call_id='call_2eqx')]}}
----
{'agent': {'messages': [AIMessage(content='The country with the highest total spent is the USA, with a total spent of 523.06.', response_metadata={'token_usage': {'completion_tokens': 22, 'prompt_tokens': 2460, 'total_tokens': 2482, 'completion_time': 0.018333333, 'prompt_time': 0.277695616, 'queue_time': None, 'total_time': 0.296028949}, 'model_name': 'llama3-8b-8192', 'system_fingerprint': 'fp_a97cfe35ae', 'finish_reason': 'stop', 'logprobs': None}, id='run-0f6aa4ac-8201-4c3c-8916-5b039da67596-0', usage_metadata={'input_tokens': 2460, 'output_tokens': 22, 'total_tokens': 2482})]}}
----

# Dealing with high-cardinality columns

In [21]:
def query_as_list(db, query):
    res = db.run(query)
    # Flatten and Filter
    res = [el for sub in ast.literal_eval(res) for el in sub if el]
    res = [re.sub(r"\b\d+\b", "", string).strip() for string in res]
    return list(set(res))

In [22]:
artists = query_as_list(db, "SELECT Name FROM Artist")
artists[:5]

['Corinne Bailey Rae',
 'The Black Crowes',
 'The Flaming Lips',
 'Marillion',
 'Barry Wordsworth & BBC Concert Orchestra']

In [23]:
albums = query_as_list(db, "SELECT Title FROM Album")
albums[:5]

['Use Your Illusion II',
 'Unplugged [Live]',
 'Beethoven Piano Sonatas: Moonlight & Pastorale',
 'Górecki: Symphony No.',
 'Black Sabbath']

In [24]:
vector_db = FAISS.from_texts(artists + albums, GoogleGenerativeAIEmbeddings(
    model="models/embedding-001",
    google_api_key=GOOGLE_API_KEY
    ))
retriever = vector_db.as_retriever(search_kwargs={"k": 5})
description = """Use to look up values to filter on. Input is an approximate spelling of the proper noun, output is \
valid proper nouns. Use the noun most similar to the search."""
retriever_tool = create_retriever_tool(
    retriever,
    name="search_proper_nouns",
    description=description,
)

In [25]:
print(retriever_tool.invoke("Alice Chains"))

Alice In Chains

Carried to Dust (Bonus Track Version)

No More Tears (Remastered)

Unplugged [Live]

Pure Cult: The Best Of The Cult (For Rockers, Ravers, Lovers & Sinners) [UK]

In [26]:
system = """You are an agent designed to interact with a SQL database.
Given an input question, create a syntactically correct SQLite query to run, then look at the results of the query and return the answer.
Unless the user specifies a specific number of examples they wish to obtain, always limit your query to at most 5 results.
You can order the results by a relevant column to return the most interesting examples in the database.
Never query for all the columns from a specific table, only ask for the relevant columns given the question.
You have access to tools for interacting with the database.
Only use the given tools. Only use the information returned by the tools to construct your final answer.
You MUST double check your query before executing it. If you get an error while executing a query, rewrite the query and try again.

DO NOT make any DML statements (INSERT, UPDATE, DELETE, DROP etc.) to the database.

You have access to the following tables: {table_names}

If you need to filter on a proper noun, you must ALWAYS first look up the filter value using the "search_proper_nouns" tool!
Do not try to guess at the proper name - use this function to find similar ones.""".format(
    table_names=db.get_usable_table_names()
)

system_message = SystemMessage(content=system)

tools.append(retriever_tool)

agent = create_react_agent(llm, tools, messages_modifier=system_message)

<ipython-input-26-88c1cb04fff6>:23: LangGraphDeprecationWarning: Parameter 'messages_modifier' in function 'create_react_agent' is deprecated as of version 0.1.9 and will be removed in version 0.3.0. Use 'state_modifier' parameter instead.
  agent = create_react_agent(llm, tools, messages_modifier=system_message)

In [27]:
for s in agent.stream(
    {"messages": [HumanMessage(content="How many albums does alis in chain have?")]}
):
    print(s)
    print("----")

{'agent': {'messages': [AIMessage(content='', additional_kwargs={'tool_calls': [{'id': 'call_j856', 'function': {'arguments': '{"query":"SELECT COUNT(*) FROM Album WHERE ArtistName = \'Alice in Chains\'"}', 'name': 'sql_db_query'}, 'type': 'function'}]}, response_metadata={'token_usage': {'completion_tokens': 79, 'prompt_tokens': 1826, 'total_tokens': 1905, 'completion_time': 0.065833333, 'prompt_time': 0.373423331, 'queue_time': None, 'total_time': 0.439256664}, 'model_name': 'llama3-8b-8192', 'system_fingerprint': 'fp_873a560973', 'finish_reason': 'tool_calls', 'logprobs': None}, id='run-894603b1-e661-4f02-9ff7-286c8b617a01-0', tool_calls=[{'name': 'sql_db_query', 'args': {'query': "SELECT COUNT(*) FROM Album WHERE ArtistName = 'Alice in Chains'"}, 'id': 'call_j856', 'type': 'tool_call'}], usage_metadata={'input_tokens': 1826, 'output_tokens': 79, 'total_tokens': 1905})]}}
----
{'tools': {'messages': [ToolMessage(content="Error: (sqlite3.OperationalError) no such column: ArtistName\n[SQL: SELECT COUNT(*) FROM Album WHERE ArtistName = 'Alice in Chains']\n(Background on this error at: https://sqlalche.me/e/20/e3q8)", name='sql_db_query', tool_call_id='call_j856')]}}
----
{'agent': {'messages': [AIMessage(content='', additional_kwargs={'tool_calls': [{'id': 'call_bakg', 'function': {'arguments': '{"table_names":"Album"}', 'name': 'sql_db_schema'}, 'type': 'function'}, {'id': 'call_c5pz', 'function': {'arguments': '{"query":"SELECT column_name FROM INFORMATION_SCHEMA.COLUMNS WHERE table_name = \'Album\' AND COLUMN_NAME = \'Artist\'"}', 'name': 'sql_db_query'}, 'type': 'function'}]}, response_metadata={'token_usage': {'completion_tokens': 129, 'prompt_tokens': 1955, 'total_tokens': 2084, 'completion_time': 0.1075, 'prompt_time': 0.293844748, 'queue_time': None, 'total_time': 0.401344748}, 'model_name': 'llama3-8b-8192', 'system_fingerprint': 'fp_179b0f92c9', 'finish_reason': 'tool_calls', 'logprobs': None}, id='run-ed782b34-7f3b-4fd0-976a-419295196550-0', tool_calls=[{'name': 'sql_db_schema', 'args': {'table_names': 'Album'}, 'id': 'call_bakg', 'type': 'tool_call'}, {'name': 'sql_db_query', 'args': {'query': "SELECT column_name FROM INFORMATION_SCHEMA.COLUMNS WHERE table_name = 'Album' AND COLUMN_NAME = 'Artist'"}, 'id': 'call_c5pz', 'type': 'tool_call'}], usage_metadata={'input_tokens': 1955, 'output_tokens': 129, 'total_tokens': 2084})]}}
----
{'tools': {'messages': [ToolMessage(content='\nCREATE TABLE "Album" (\n\t"AlbumId" INTEGER NOT NULL, \n\t"Title" NVARCHAR(160) NOT NULL, \n\t"ArtistId" INTEGER NOT NULL, \n\tPRIMARY KEY ("AlbumId"), \n\tFOREIGN KEY("ArtistId") REFERENCES "Artist" ("ArtistId")\n)\n\n/*\n3 rows from Album table:\nAlbumId\tTitle\tArtistId\n1\tFor Those About To Rock We Salute You\t1\n2\tBalls to the Wall\t2\n3\tRestless and Wild\t2\n*/', name='sql_db_schema', tool_call_id='call_bakg'), ToolMessage(content="Error: (sqlite3.OperationalError) no such table: INFORMATION_SCHEMA.COLUMNS\n[SQL: SELECT column_name FROM INFORMATION_SCHEMA.COLUMNS WHERE table_name = 'Album' AND COLUMN_NAME = 'Artist']\n(Background on this error at: https://sqlalche.me/e/20/e3q8)", name='sql_db_query', tool_call_id='call_c5pz')]}}
----
{'agent': {'messages': [AIMessage(content='', additional_kwargs={'tool_calls': [{'id': 'call_7g3f', 'function': {'arguments': '{"table_names":"Album"}', 'name': 'sql_db_schema'}, 'type': 'function'}, {'id': 'call_7pkq', 'function': {'arguments': '{"query":"SELECT column_name FROM sqlite_master WHERE type = \'table\' AND name = \'Album\'"}', 'name': 'sql_db_query'}, 'type': 'function'}]}, response_metadata={'token_usage': {'completion_tokens': 83, 'prompt_tokens': 2270, 'total_tokens': 2353, 'completion_time': 0.069166667, 'prompt_time': 0.348460171, 'queue_time': None, 'total_time': 0.417626838}, 'model_name': 'llama3-8b-8192', 'system_fingerprint': 'fp_6a6771ae9c', 'finish_reason': 'tool_calls', 'logprobs': None}, id='run-6cf6e6c1-df74-4bf1-a652-76193369d6a4-0', tool_calls=[{'name': 'sql_db_schema', 'args': {'table_names': 'Album'}, 'id': 'call_7g3f', 'type': 'tool_call'}, {'name': 'sql_db_query', 'args': {'query': "SELECT column_name FROM sqlite_master WHERE type = 'table' AND name = 'Album'"}, 'id': 'call_7pkq', 'type': 'tool_call'}], usage_metadata={'input_tokens': 2270, 'output_tokens': 83, 'total_tokens': 2353})]}}
----
{'tools': {'messages': [ToolMessage(content='\nCREATE TABLE "Album" (\n\t"AlbumId" INTEGER NOT NULL, \n\t"Title" NVARCHAR(160) NOT NULL, \n\t"ArtistId" INTEGER NOT NULL, \n\tPRIMARY KEY ("AlbumId"), \n\tFOREIGN KEY("ArtistId") REFERENCES "Artist" ("ArtistId")\n)\n\n/*\n3 rows from Album table:\nAlbumId\tTitle\tArtistId\n1\tFor Those About To Rock We Salute You\t1\n2\tBalls to the Wall\t2\n3\tRestless and Wild\t2\n*/', name='sql_db_schema', tool_call_id='call_7g3f'), ToolMessage(content="Error: (sqlite3.OperationalError) no such column: column_name\n[SQL: SELECT column_name FROM sqlite_master WHERE type = 'table' AND name = 'Album']\n(Background on this error at: https://sqlalche.me/e/20/e3q8)", name='sql_db_query', tool_call_id='call_7pkq')]}}
----
{'agent': {'messages': [AIMessage(content='', additional_kwargs={'tool_calls': [{'id': 'call_k82k', 'function': {'arguments': '{"query":"SELECT * FROM Album WHERE ArtistId = (SELECT ArtistId FROM Artist WHERE Name = \'Alice in Chains\')"}', 'name': 'sql_db_query'}, 'type': 'function'}]}, response_metadata={'token_usage': {'completion_tokens': 58, 'prompt_tokens': 2581, 'total_tokens': 2639, 'completion_time': 0.045573813, 'prompt_time': 0.385875135, 'queue_time': None, 'total_time': 0.431448948}, 'model_name': 'llama3-8b-8192', 'system_fingerprint': 'fp_af05557ca2', 'finish_reason': 'tool_calls', 'logprobs': None}, id='run-cb7d9534-3142-4708-8b00-96718d26a7f0-0', tool_calls=[{'name': 'sql_db_query', 'args': {'query': "SELECT * FROM Album WHERE ArtistId = (SELECT ArtistId FROM Artist WHERE Name = 'Alice in Chains')"}, 'id': 'call_k82k', 'type': 'tool_call'}], usage_metadata={'input_tokens': 2581, 'output_tokens': 58, 'total_tokens': 2639})]}}
----
{'tools': {'messages': [ToolMessage(content='', name='sql_db_query', tool_call_id='call_k82k')]}}
----
{'agent': {'messages': [AIMessage(content="Please provide the actual output of the query, and I'll continue the conversation accordingly.\n\nIf the query didn't return any results, I'll need to modify the query to retrieve the correct information.", response_metadata={'token_usage': {'completion_tokens': 40, 'prompt_tokens': 2666, 'total_tokens': 2706, 'completion_time': 0.033333333, 'prompt_time': 0.300332459, 'queue_time': None, 'total_time': 0.333665792}, 'model_name': 'llama3-8b-8192', 'system_fingerprint': 'fp_a97cfe35ae', 'finish_reason': 'stop', 'logprobs': None}, id='run-21d2cef6-1bfb-4c48-88ee-b2a430300ff6-0', usage_metadata={'input_tokens': 2666, 'output_tokens': 40, 'total_tokens': 2706})]}}
----